.svn
.idea
/.well-known
*.bak
*.swp
Thumbs.db
.htaccess

# Ignore everything in the root except the "wp-content" directory and favicons.
wp-content/mu-plugins/*
/*
!.gitignore
!wp-content/
!favicon.ico
!android-chrome-192x192.png
!apple-touch-icon.png
!favicon-16x16.png
!favicon-32x32.png

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

node_modules/
bower_components/

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi